@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Current User access permissions:</h2>
<h3>Has Premium Access: @ViewData["hasPremiumAccess"]</h3>
<h3>Has Standard Access: @ViewData["hasStandardAccess"]</h3>