@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>
    Users and their product access ID's:
</h2>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Product Access Id's</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>karthik@gmail.com</td>
            <td>Standard User</td>
        </tr>
        <tr>
            <td>john@gmail.com</td>
            <td>Standard User, Premium User</td>
        </tr>
        <tr>
            <td>mani@gmail.com</td>
            <td>Limited User</td>
        </tr>
    </tbody>
</table>
