@page
@model AuthorizationsTest.Pages.PremiumLoungeModel
@{
    ViewData["Title"] = "Premium Lounge";
}

<h2>Premium Lounge looks like this:</h2>
<img src="assets/premium-lounge.jpg" width="800" height="720" />
