@page
@model AuthorizationsTest.Pages.StandardLoungeModel
@{
    ViewData["Title"] = "Standard Lounge";
}

<h2>Standard Lounge looks like this:</h2>
<img src="assets/standard-user.jpg" width="800" height="720"/>
